<div id="wrapper" class="col-sm-12 col-md-4 col-md-offset-4">
	<form id="order-form">
		<h1 class="text-center">Sudaderas ETSIT</h1>
		<div class="form-group">
			<label for="nombre">Nombre completo</label>
			<input ng-model="nombre" novalidate type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre completo">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input ng-model="email" novalidate type="email" class="form-control" id="email" placeholder="Escribe tu dirección de email">
		</div>
		<div class="form-group">
			<label for="diseno">Diseño</label>
			<select ng-model="diseno" ng-options="d for d in disenos" class="form-control" id="diseno">
			</select>
		</div>
		<div class="form-group">
			<label for="talla">Talla</label>
			<select ng-model="talla" ng-options="t for t in tallas" class="form-control" id="talla">
			</select>
		</div>
		<div class="form-group">
			<label for="color">Color</label>
			<select ng-model="color" ng-options="c for c in colores" class="form-control" id="color">
			</select>
		</div>
		<button ng-click="order(nombre, email, diseno, talla, color)" class="btn btn-default pull-right">Enviar</button>
	</form>
</div>