<div id="wrapper" class="col-sm-12 col-md-4 col-md-offset-4">
	<h1 class="text-center">Sudaderas ETSIT</h1>
	<form>
		<div class="form-group">
			<label for="nombre">Nombre completo</label>
			<input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre completo">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" placeholder="Escribe tu dirección de email">
		</div>
		<div class="form-group">
			<label for="design">Diseño</label>
			<select class="form-control" id="design">
				<option ng-repeat="d in disenos">{{ d }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="talla">Talla</label>
			<select class="form-control" id="talla">
				<option ng-repeat="t in tallas">{{ t }}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="color">Color</label>
			<select class="form-control" id="color">
				<option ng-repeat="c in colores">{{ c }}</option>
			</select>
		</div>
		<button type="submit" class="btn btn-default pull-right">Enviar</button>
	</form>
</div>